.progress {
  width: 100%; /* TODO: указывать ширину через js */
  aspect-ratio: 1;
  background: conic-gradient(var(--color-primary) var(--percent, 0), var(--color-platinum) 0);
  border-radius: 50%;
  position: relative;
}

.progress::after {
  content: "";
  width: 83%; /* TODO: управлять шириной через js */
  background-color: var(--background-color);
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.progress.hidden {
  display: none;
}

@keyframes rotateProgress {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress.animated {
  animation: rotateProgress 1.5s linear infinite;
}